node_modules
.env
*.env
*.env.*
backend/.env
backend/.env.*
backend/service-account.json
service-account.json
*.log
.firebase/
.vs/
.vscode/
.tools/
frontend/screenshots/
mongodb-data/
mongodb-portable/
mongodb-setup/
backend/models/maternal-health-model/
*.zip
*.msi
*.exe
*.err.log
*.out.log
mamasafe-mobile/.expo/
frontend/.expo/
